
.route{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: #e8e8e8;
}

.secondroute{
  padding: 15px;
  background: #ff8800;
  display: flex;
  justify-content: space-around;
}

.content{
  margin-top: 20px;
  background: #e8e8e8;
  padding: 40px;
  height: 600px;
}

.App{
  text-align: center;
}

.App-logo{
  width: 200px;
  height: 200px;
}